<h2>SHANTY TOWN TWITTER FEED</h2>


{{#each tweets}}
<div id="tweets">
    <br />
  <a id="users" href="/userProfile/{{this.creatorId._id}}">{{this.creatorId.username}}</a>
  <p>{{this.content}}</p>
  <img src="{{this.gif}}" />
  <br />
    <br />
 
  </div>


{{/each}}

 <div id="image">
    <marquee behavior="scroll" direction="right">
      <img id="tumbleweed" src="/images/tumblingTumblweed.png" alt="">
    </marquee>
</div>

<style>
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

h2 {
  padding-top: 10%;
  text-align: center;
font-size: 28px;
 box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
#tweets{
  text-align: center;
  font-size: 16px;
  width: 300px;
  border: 1px solid  #e6af76;
margin-left: 45%;

}

#users {
  
  color: black;
  border-radius: 25px;
  background:  #e6af76;
 padding: 2px;
 text-decoration: none;
 
}
#users:hover {
  font-size: 125%;
  color:#cc7e74;
}

#tumbleweed {
  margin-top: 40%;
  height: 200px;
  width: 200px;
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
</style>

