<div id="create-tweet">
<form action="/create-tweet" method="POST">

  <label>
    TWEET 
    <br/>
    <input class="tweet-body" type="text" name="content" />
  </label>
  <br/>
 

    <br/>
    <input type="text" name="gif" id="gif-link" />
 
<br/>
  <button type="submit">Send Tweet</button>
</form>
 <br/> <br/>
 <label>SEARCH FOR GIFs

<form action="/test" method="POST">

  <input name="search" />
<br/>
  <button type="submit">search</button>
</label>
</form>
</div>

 <div id="image">
    <marquee behavior="scroll" direction="right">
      <img id="tumbleweed" src="/images/tumblingTumblweed.png" alt="">
    </marquee>
</div>

{{#each gifs}}
  <img class="gif" src={{this.images.fixed_height_small.url}} />

{{/each}}
<script>
  let x = document.querySelectorAll(".gif"); let link =
  document.getElementById("gif-link"); for (let i = 0; i < x.length; i++){
  x[i].addEventListener("click",(e)=> link.value = e.target.currentSrc) };
  console.log(link);
</script>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}


<style>
label{
  font-size: 18px;
    color: black;
     background-color: #e6af76;

}

.tweet-body{
width: 350px;
height: 125px;
padding: 12px 20px;
box-sizing: border-box;
}

#create-tweet {
 padding-top: 20%;
 padding-left: 45%;
}

html{
  background-image: url("/images/shantytownBG.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  
}

#tumbleweed {
  margin-top: 40%;
  height: 200px;
  width: 200px;
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
</style>