<form action="/create-tweet" method="POST">

  <label>
    Tweet Body
    <input type="text" name="content" />
  </label>
  <label>
    Gif Link
    <input type="text" name="gif" id="gif-link" />
  </label>

  <button type="submit">Submit</button>
</form>

<h2>GIFs</h2>

<form action="/test" method="POST">

  <input name="search" />

  <button type="submit">search</button>

</form>

{{#each gifs}}
  <img class="gif" src={{this.images.fixed_height_small.url}} />

{{/each}}
<script>
  let x = document.querySelectorAll(".gif"); let link =
  document.getElementById("gif-link"); for (let i = 0; i < x.length; i++){
  x[i].addEventListener("click",(e)=> link.value = e.target.currentSrc) };
  console.log(link);
</script>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}


<style>

body {
    text-align: center;
}
form {
    display: inline-block;
}
</style>