

    <section class="home">
    </section>
    <div style="height: 1000px">
    
			<h2 class="myH2">What is Shanty Town Twitter?</h2>
			
				<p class="myP">
				Shanty Town Twitter is a message-board style website. With a couple of kinda cool features. You are able to create an account. You are able to login and start posting tweets. You can also search for and attach gifs to your tweeets. All of the tweets posted are featured in chronological order on the Shanty Town Twitter Feed for all to see. At this point this is the extent of what I can say about this site, the rest of this will be filled with Lorem Ipsum so you can see the super cool tumbleweed.
				<br/><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam nulla porttitor massa id. Sagittis eu volutpat odio facilisis mauris sit amet. Sed felis eget velit aliquet. Porttitor leo a diam sollicitudin tempor id. Integer eget aliquet nibh praesent tristique magna sit amet. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Nulla aliquet enim tortor at. Proin sed libero enim sed faucibus turpis. Ultrices neque ornare aenean euismod. <br/><br/>Quis varius quam quisque id diam vel. Cras ornare arcu dui vivamus arcu felis. Ac turpis egestas integer eget aliquet nibh praesent tristique.

Ut ornare lectus sit amet est placerat in egestas. Dolor sit amet consectetur adipiscing elit duis tristique. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Amet porttitor eget dolor morbi. Dignissim suspendisse in est ante in nibh mauris. <br/><br/>Potenti nullam ac tortor vitae. Mauris in aliquam sem fringilla ut morbi tincidunt. Mauris pharetra et ultrices neque ornare aenean euismod. Vulputate mi sit amet mauris commodo quis imperdiet massa. Non sodales neque sodales ut etiam sit amet nisl purus. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Donec adipiscing tristique risus nec feugiat in. Tristique nulla aliquet enim tortor at auctor urna. Ipsum dolor sit amet consectetur adipiscing. Diam quam nulla porttitor massa id. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Sem integer vitae justo eget magna.
			</p>
    </div>
 

  <div id="image">
    <marquee behavior="scroll" direction="right">
      <img id="tumbleweed" src="/images/tumblingTumblweed.png" alt="">
    </marquee>
</div>



    <style>
  






.myH2 {
    padding-top: 5%;
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}






#tumbleweed {
  
  height: 200px;
  width: 200px;
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
    </style>

    