<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
 <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="/"><img id="logo" src="/images/shanty town twitter logo.png" width="150"></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/create-tweet">Create A Tweet</a></li>
                    <li><a href="/all-tweets">See Feed</a></li>
                    <li><a href="/userProfile">Profile</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
   <body>
    
        {{!-- <nav>
         
        
      <ul>
        <li id="to-left">
          <p><a href="/"> Shanty Town Twitter</a></p>
        </li>
       <li id="to-right">
    <a href="/signup">Signup</a> <span> | </span>
    <a href="/login">Login</a> <span> | </span>
    <a href="/create-tweet">Create Tweet</a><span> | </span>
    <a href="/all-tweets">See Feed</a><span> | </span>
    <a href="/userProfile">Profile</a><span> | </span>
 
</li>
        
    </nav> --}}

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>

  <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>

<style>
      @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');


.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

#logo {
    width: 400px;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: palevioletred;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: palevioletred;
}

</style>